#doctorMain {
  display: flex;
  .WorkSpace {
    width: 100%;
    display: flex;
    .rightFieldDiv {
      margin: 0 1em;
      border-radius: 10px;
      width: 82%;
      height: 90vh;
    }
  }
}
