#adminMain {
  display: flex;

  button {
    background-color: #2d6d98;
    color: white;
    border: none;
    border-radius: 5px;
    width: 9em;
    height: 3em;
    &:hover {
      cursor: pointer;
    }
  }
  .doctorBtnsDiv {
    width: 40%;
    display: flex;
    justify-content: space-around;
    .deleteBtn {
      background-color: rgb(248, 42, 42);
    }
  }
  .deleteTherapyDivMain {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.546);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    .deleteTherapyDiv {
      width: 50%;
      height: fit-content;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 2em 0 2em 0;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
      .deleteTherapyButtonsDiv {
        display: flex;
        justify-content: space-between;
        width: 40%;
      }
    }
  }
  .DivForAddingNewTherapyMain {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.546);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    .NewTherapyInputsDiv {
      width: 50%;
      height: fit-content;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 0 0 2em 0;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;

      .newTherapyXiconDiv {
        width: 99%;
        display: flex;
        justify-content: end;
        align-items: start;
        margin: 0.5em;
        .xIcon {
          width: 1.8em;
        }
        .xIcon:hover {
          cursor: pointer;
        }
      }

      .DivInput {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        color: #ffffff;
        .categoryOfTherapySelector {
          color: black;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-top: 2px solid gray;
          border-left: 2px solid gray;
          border-right: 2px solid gray;
          .selsectorMainField {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 98%;
            border-bottom: 2px solid gray;
            padding: 0.2em;
            p {
              margin: 0;
            }
          }
          .selsectorMainField:hover {
            background-color: #2d6d98;
            color: white;
            cursor: pointer;
          }
          .categoryOfTherapySelectorDropDown {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            .selsectorDropDownField {
              display: flex;
              justify-content: start;
              align-items: center;
              width: 98%;
              border-bottom: 2px solid gray;
              padding: 0.2em;
            }
            .selsectorDropDownField:hover {
              background-color: #2d6d98;
              color: white;
              cursor: pointer;
            }
          }
        }
        .labelEror {
          color: red;
          margin: 1em 0 0.1em 0;
        }
        .labelCorect {
          color: black;
          margin: 1em 0 0.1em 0;
        }
        input {
          width: 100%;
          height: 2em;
        }
        textarea {
          width: 100%;
        }
      }
    }
  }
  .WorkSpace {
    width: 100%;
    display: flex;

    .WorkSpaceMeniDiv {
      width: 13%;
      height: 91vh;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      margin: 1em;
      padding: 0.5em;
      background-color: #2d6d98;
      border-radius: 10px;
      .zahteviBrojac {
        width: 1.1em;
        height: 1.1em;
        border-radius: 50%;
        text-align: center;
        background-color: #ffffff;
        margin-left: 0.5em;
        color: red;
      }
      .zahteviBrojacNone {
        width: 1.1em;
        height: 1.1em;
        border-radius: 50%;
        text-align: center;
        background-color: #ffffff00;
        margin-left: 0.5em;
        color: red;
      }
      .adminMeniLinks {
        color: white !important;
        margin: 0;
        font-size: medium;

        width: 100%;
      }
      .AdminMeniTitle {
        color: white;
        h3 {
          margin: 0;
        }
      }
      .WorkSpaceMeni {
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .elemOfMeni {
          padding: 0.5em 0;
          width: 100%;
          display: flex;
          justify-content: start;
          align-items: center;
          color: white;
          border-bottom: 1px solid white;
          p {
            margin: 0;
          }
          &:hover {
            cursor: pointer;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.644);
            p {
              color: black;
            }
          }
          .zahteviIcon {
            width: 2.5em;
            height: 2.5em;
            margin-left: -0.2em;
            margin-right: 1.75em;
          }
          img {
            width: 2em;
            height: 2em;
            margin-right: 2em;
          }
        }
        .elemOfMeniLink {
          margin-top: 5em;
          display: flex;
          justify-content: center;
          align-items: center;

          .adminLink {
            color: white !important;
            &:hover {
              text-decoration: underline !important;
            }
          }
        }
      }
    }
    .ListeDiv {
      margin: 0 1em;
      border-radius: 10px;
      width: 82%;
      height: 90vh;
      .listaZahteva {
        width: 100%;
        .scrollDiv {
          width: 100%;
          height: 80vh;
          overflow-y: scroll;
          overflow-x: hidden;
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: column;
          .Zahtev {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 88%;
            border: 1px solid gray;
            border-radius: 0.2em;
            padding: 0 2em;
            font-size: 1.1rem;
            margin-bottom: 0.5em;
            p {
              border-bottom: 1px solid #ffffff00;
            }
          }
          .Zahtev p:hover {
            border-bottom: 1px solid #ffffff;
          }
          .Zahtev:hover {
            background-color: #4782a9;
            color: white;
            cursor: pointer;
          }
        }
      }

      h1 {
        width: 95%;
        border-bottom: 1px solid gray;
        margin: 1em;
      }

      .listaDoktora {
        margin: 1em;
        border-radius: 10px;
        width: 100%;
        height: 80vh;
        h1 {
          width: 95%;
          border-bottom: 1px solid gray;
          margin: 1em;
        }
        .DivForDoktorCards {
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 80vh;
          overflow-y: scroll;
          overflow-x: hidden;

          .doctorCard {
            display: flex;
            justify-content: center;
            align-items: start;
            text-align: center;
            width: 90%;
            padding: 1em;
            margin: 0.5em;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;

            .rightFieldDoctorCard {
              width: 80%;
              margin: 0 3em;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: start;
              flex-direction: column;
            }
            img {
              width: 15em;
            }
            .DoctorCardTherapy {
              margin-top: 1em;
              display: flex;
              width: 100%;
              justify-content: start;
              align-items: start;
              strong {
                margin: 0;
              }
              div {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                margin-left: 1em;
              }
              p {
                margin: 0;
              }
            }
          }
        }
      }

      .listaTerapija {
        margin: 1em;
        border-radius: 10px;
        width: 100%;
        height: 80vh;
        h1 {
          width: 95%;
          border-bottom: 1px solid gray;
          margin: 1em;
        }
        .DivForTherapyCards {
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 80vh;
          overflow-y: scroll;
          overflow-x: hidden;
          .filterAndAddDiv {
            display: flex;
            height: 3em;
            margin-bottom: 2em;
            width: 80%;
            justify-content: space-between;
            align-items: end;
            input {
              height: 2.5em;
              width: 30%;
              padding-left: 2em;
            }
            button {
              width: 30%;
            }
          }
          .therapyCardDisplayNone {
            display: none;
          }
          .therapyCard {
            display: flex;
            justify-content: center;
            align-items: start;
            text-align: center;
            width: 90%;
            padding: 1em;
            margin: 0.5em;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;

            .rightFieldTherpyCard {
              width: 80%;
              margin: 0 3em;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: start;
              flex-direction: column;

              .TherapyButtonsDiv {
                display: flex;
                justify-content: space-between;
                width: 35%;
                .deleteButton {
                  background-color: rgb(248, 42, 42);
                }
              }
            }
            img {
              width: 15em;
            }
            .therapyCardDoctors {
              margin-top: 1em;
              display: flex;
              width: 100%;
              justify-content: start;
              align-items: start;
              strong {
                margin: 0;
              }
              div {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                margin-left: 1em;
              }
              p {
                margin: 0;
              }
            }
          }
        }
      }
      .listaKorisnika {
        margin: 1em;
        border-radius: 10px;
        width: 100%;
        height: 80vh;
        h1 {
          width: 95%;
          border-bottom: 1px solid gray;
          margin: 1em;
        }
        .DivForUserCards {
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 80vh;
          overflow-y: scroll;
          overflow-x: hidden;
          .userCard {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            width: 90%;
            padding: 1em;
            margin: 0.5em;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
          }
        }
      }

      .AdminProfil {
        width: 90%;
        display: flex;
        margin-top: 1em;
        border-radius: 10px;

        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding: 1em;
        .cardForChangeBackground {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.546);
          backdrop-filter: blur(3px);
          color: black;
          .cardForChange {
            width: 50%;
            height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
              rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
              rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            padding: 0.5em 0 3em 0;
            .iconDiv {
              width: 100%;
              display: flex;
              justify-content: end;
              padding-right: 1em;
              img:hover {
                cursor: pointer;
              }
            }
            .adminInfoElement {
              display: flex;
              flex-direction: column;
              width: 70%;
              input {
                height: 2em;
              }
            }
          }
        }
        .editIcon {
          width: 1.5em;
        }
        .adminImgDiv {
          .AdminProfilimg {
            width: 20em;
            margin-left: -0.2em;
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
              rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
              rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
          }
          .editImgDiv {
            position: absolute;
            top: 2.5em;

            &:hover {
              cursor: pointer;
            }
            p {
              margin: -0.5em 0 0 0;
              color: white;
              font-size: small;
            }
          }
        }
        .adminInfo {
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 2em;

          .adminName {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 1em;
            border-bottom: 1px solid gray;
            div {
              &:hover {
                cursor: pointer;
              }
              p {
                margin: -0.5em 0 0 0;
              }
            }
          }
          .otherInfo {
            display: flex;
            justify-content: start;
            width: 98%;
            margin-bottom: 1em;
            border-bottom: 1px solid gray;
            div {
              &:hover {
                cursor: pointer;
              }
              p {
                margin: -0.5em 0 0 0;
              }
              img {
                width: 1.5em;
              }
            }
          }
        }
      }
    }
  }
  .doctorRequesCardMain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.546);
    backdrop-filter: blur(3px);
  }

  .doctorRequesCard {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    background-color: white;
    padding: 1em;
    margin: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;

    .rightFieldDoctorCard {
      width: 80%;
      margin: 0 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: start;
      flex-direction: column;
      .butonsDiv {
        display: flex;
        justify-content: space-between;
        width: 50%;
        .odbijButton {
          background-color: rgb(248, 42, 42);
        }
      }
    }
    .exitIcon {
      width: 2em;
    }
    .exitIcon:hover {
      cursor: pointer;
    }
    img {
      width: 15em;
    }
    .DoctorCardTherapy {
      margin-top: 1em;
      display: flex;
      width: 100%;
      justify-content: start;
      align-items: start;
      strong {
        margin: 0;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-left: 1em;
      }
      p {
        margin: 0;
      }
    }
  }
}
.deleteDoctorDivMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.546);
  backdrop-filter: blur(3px);
  color: black;
  .deleteDoctorDiv {
    width: 50%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 0.5em 0 3em 0;
    .imgDiv {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
      padding: 0 1em 0 0;
      img:hover {
        cursor: pointer;
      }
    }
    .deleteDoctorButtonsDiv {
      width: 40%;
      display: flex;
      justify-content: space-around;
    }
    #deleteBtn {
      background-color: rgb(248, 42, 42);
    }
  }
}
.changeDoctorinfoDiv {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.546);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.changeDoctorinfoFormDiv {
  background-color: white;
  width: 50%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  height: 80vh;
  border: 1px solid gray;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  .iconDiv {
    display: flex;
    justify-content: end;
    img:hover {
      cursor: pointer;
    }
  }
}
.TerapijeZahteva {
  display: flex;
}
